<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <!---Data Source=192.168.2.5,1433;Network Library=DBMSSOCN;Initial Catalog=TODOLIST_MM;User ID=todolist_mm;Password=Test.123;-->
    <add name="ToDoDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ToDoDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyFileAppender" />
    </root>
    <appender name="MyFileAppender" type="log4net.Appender.FileAppender">
      <file value="application.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ITaskListManager" type="ToDoList.Lib.Common.ITaskListManager, ToDoList.Lib.Common" />
    <alias alias="TaskListManager" type="ToDoList.Lib.Business.Managers.TaskListManager, ToDoList.Lib.Business" />
    <alias alias="ISecurityManager" type="ToDoList.Lib.Common.ISecurityManager, ToDoList.Lib.Common" />
    <alias alias="SecurityManager" type="ToDoList.Lib.Business.Managers.SecurityManager, ToDoList.Lib.Business" />
    <alias alias="IAccountManager" type="ToDoList.Lib.Common.IAccountManager, ToDoList.Lib.Common" />
    <alias alias="AccountManager" type="ToDoList.Lib.Business.Managers.AccountManager, ToDoList.Lib.Business" />
    <alias alias="ISessionManager" type="ToDoList.Lib.Common.ISessionManager, ToDoList.Lib.Common" />
    <alias alias="SessionManager" type="ToDoList.Lib.Business.Managers.SessionManager, ToDoList.Lib.Business" />
    <alias alias="ISessionContextManager" type="ToDoList.Lib.Common.ISessionContextManager, ToDoList.Lib.Common" />
    <alias alias="SessionContextManager" type="ToDoList.Lib.Business.Managers.SessionContextManager, ToDoList.Lib.Business" />
    
    <containers>
      <container>
        <register type="ISecurityManager" mapTo="SecurityManager" />
        <register type="IAccountManager" mapTo="AccountManager" />
        <register type="ITaskListManager" mapTo="TaskListManager" />
        <register type="ISessionManager" mapTo="SessionManager" />
        <register type="ISessionContextManager" mapTo="SessionContextManager" />
      </container>
    </containers>
    
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.6.0" newVersion="5.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>